.thumbnail{
    width: 500px;
    height: 500px;
    /* object-fit: cover; */
    object-fit: contain;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    /* object-position: left; */
    /* object-position: right; */
    /* object-position: top; */
    object-position: bottom;
}

.search-bar{
    font-size: 20px;
}